body {
	margin: 10%;
}

/*.lecture ul {
*/    /*기본적인 리스트 코드를 초기화*/
    /*정말 자주 사용 되는 코드*/
/*    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.demo ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}*/


/*.lecture ul, .demo ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}*/

.reset-list ul,
.reset-list ol, 
ul.reset-list,
ol.reset-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.lecture-file-list a {
    display: block;
    /*블록으로 바꾸지 않으면 인덴트가 안됨*/
    font-size: 2.4em;
    text-decoration: none;
    text-indent: 40px;
    background-repeat: no-repeat;
    background-size: 29px auto;
    background-position: 0px;
    line-height: 60px;
}

/*file포맷에 따라 자동적으로 아이콘을
배경 이미지로 설정하는 스타일*/

a[href$=".aac"] {
    background-image: url("../images/aac.png");
    color: #000;
}

a[href$=".ai"] {
    background-image: url("../images/ai.png");
    color: #000;
}

a[href$=".avi"] {
    background-image: url("../images/avi.png");
    color: #000;
}

a[href$=".doc"] {
    background-image: url("../images/doc.png");
    color: #000;
}

a[href$=".flac"] {
    background-image: url("../images/flac.png");
    color: #000;
}

a[href$=".gif"] {
    background-image: url("../images/gif.png");
    color: #000;
}

a[href$=".html"] {
    background-image: url("../images/html.png");
    color: #000;
}

a[href$=".jpg"] {
    background-image: url("../images/jpg.png");
    color: #000;
}

a[href$=".js"] {
    background-image: url("../images/js.png");
    color: #000;
}

a[href$=".mov"] {
    background-image: url("../images/mov.png");
    color: #000;
}

a[href$=".mp3"] {
    background-image: url("../images/mp3.png");
    color: #000;
}

a[href$=".mp4"] {
    background-image: url("../images/mp4.png");
    color: #000;
}

a[href$=".pdf"] {
    background-image: url("../images/pdf.png");
    color: #000;
}

a[href$=".png"] {
    background-image: url("../images/png.png");
    color: #000;
}

a[href$=".psd"] {
    background-image: url("../images/psd.png");
    color: #000;
}

a[href$=".tiff"] {
    background-image: url("../images/tiff.png");
    color: #000;
}

a[href$=".txt"] {
    background-image: url("../images/txt.png");
    color: #000;
}

a[href^="http://"][target="_blank"] {
    /*배경 이미지 설정*/
    background-image: url("../images/external_link.png");
    background-position: 0 10px;
    color: #000;
}display: block;























